@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&family=Noto+Sans+Arabic:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Miriam Libre", sans-serif;
}

:lang(ar) {
    font-family: "Noto Sans Arabic", sans-serif;
}

textarea {
    resize: none;
}
